.modal-backdrop, .modal-center {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.modal-backdrop {
  background-color: black;
  opacity: 0.4;
}

.modal-center {
  display: flex;
  justify-content: center;
}

.modal-center .modal {
  margin-top: 70px;
  height: 277px;
  width: 287px;
  background-color: #E5E5E5;
  z-index: 1;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal .header h1 {
  font-size: 20px;
  font-weight: 200;
}