html {
  background-color: #F6F5F5;
}

* {
  font-family: Roboto;
}

.main {
  font-size: 24px;
}

.secondary {
  color: #545353;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
}

.header {
  height: 10%;
}

.header h1, h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.header h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 32;
}

.header h2 {
  font-weight: 200;
}