.line-item {
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px;
  display: flex;
}

.line-item + .line-item {
  margin-top: 5px;
}

.line-item .icon-spacer {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-item.selected {
  border: 3px solid  #4F85EF;
}

.line-item.small.selected {
  padding: 5px;
}

.line-item.large {
  padding: 9px 0px;
}

.line-item p {
  margin: 5px 0px;
}