.line-item-table .header .line-item {
  background-color: white;
  border-radius: 7px 7px 0px 0px;
  height: 20px;
  margin-top: 10px;
}

.line-item-table .scrollable {
  margin-top: 5px;
}

.line-item-table .scrollable .line-item:first-child {
  border-radius:  0px 0px 7px 7px;
}

#cleaning-cycle .modal-footer {
  width: 100%;
}

#cleaning-cycle .modal-footer.completed .progress {
  margin: 0.5rem 0 0.5rem 0;
}